$i: 0;

.first-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
  margin: 150px auto 0px;

  .arrow-icons-left {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    opacity: 0.3;
    cursor: pointer;
  }

  .arrow-icons-right {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    opacity: 0.3;
    cursor: pointer;
  }

  .arrow-icons-left:hover,
  .arrow-icons-right:hover {
    opacity: 1;
  }

  .first-item-section {
    display: flex;
    justify-content: space-between;
    width: 968px;
    border-radius: 30px solid;
    box-sizing: border-box;
    overflow: hidden;

    .first-item-card-wrapper {
      display: flex;
      transition: 0.6s ease;

      .first-item-card {
        border: lightgray 0.2px solid;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 5px 0px;

        .first-item-img {
          width: 240px;
          height: 319.23px;
        }

        .first-item-desc {
          display: flex;
          flex-direction: column;
          padding: 20px 8px 10px;

          .product-name {
            margin-bottom: 10px;
            color: #707070;
            font-size: 14px;
          }

          .product-price {
            margin-bottom: 10px;
            color: #707070;
            font-size: 14px;
          }

          .hash {
            margin-bottom: 10px;
            color: #f4bb5f;
            font-size: 13px;
          }
        }

        .rating-section {
          display: flex;
        }

        .rating-score {
          color: #f4bb5f;
          margin: 3px 10px 0 5px;
          font-size: 14px;
        }
      }
    }
  }
}

.first-item-card-wrapper-clicked-right {
  display: flex;
  transition: 0.7s ease-in-out;
  transform: translateX(-10%);
}

.fist-item-card-wrapper-clicked-left {
  display: flex;
  transform: translateX(-10%);
}
