//style

.search-bar {
  display: flex;
  justify-content: center;
  padding: 7px;
  background-color: #f4f4f4;

  .search {
    vertical-align: middle;
    padding: 0px 20px;
    color: rgb(178, 178, 178);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
  }
}

.banner-section {
  max-width: 100%;

  .banner-img {
    display: flex;
    width: 100%;
    height: 273px;
  }
}

.menu-bar {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0px;
  padding: 50px;

  .menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .category-name {
      margin-top: 10px;
      color: #000000a6;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
    }

    .menu-image {
      width: 120px;
      position: relative;
      height: 120px;
      margin: 0px 15px;
    }

    .menu-image:hover {
      opacity: 0.3;
      transition: 0.6s ease;
    }
  }
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
  margin: 0 150px;
}

.time-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto 0;

  .product-img-wrapper {
    max-width: 630px;

    .product-img {
      width: 472.5px;
      height: 240px;
    }
  }

  .time-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 241px;
    margin-left: 40px;

    .time {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 35px;
      padding-bottom: 5px;
      color: rgb(255, 255, 255);
      background-color: rgb(81, 151, 242);
      border-radius: 18px;
      font-size: 18px;
      font-weight: bold;
    }

    .time-now {
      margin: 20px;
      color: rgb(88, 89, 91);
      font-weight: bold;
      font-size: 17px;
    }

    .clock-img {
      width: 40px;
      height: 40px;
    }
  }
}
