.new-desc-word {
  color: rgb(81, 151, 242);
  font-size: 17px;
  font-weight: bold;
  padding: 0px 35px;
  margin-bottom: 30px;
}

.best-seller-wrapper {
  width: 1100px;
  //height: 545.8px;
  margin: 150px auto 0px;
}

.best-seller-section {
  display: flex;
  justify-content: space-between;
}

.new-item {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 290px;
  //height: 489.8px;
  margin-right: 15px;
  padding: 20px 0px;
  border-radius: 10px;
  background-color: rgb(81, 151, 242);
}

.best-seller-card-wrapper {
  display: flex;
}

.best-seller-card {
  //width: 240px;
  //height: 304px;
  margin-right: 15px;
}

.best-seller-card-wrapper {
  width: 765px;
  //height: 489.8px;
}

.rocket-img {
  width: 150px;
  height: 150px;
}

.best-seller-img {
  width: 240px;
  //height: 304px;
}

.best-seller-desc {
  display: flex;
  flex-direction: column;
  padding: 20px 8px 10px;
}

.word-below-rocket {
  margin-top: 20px;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
}

.rating-section {
  display: flex;
}

.desc-wrapper {
  height: 140px;
}

.hash {
  margin-bottom: 10px;
  color: #f4bb5f;
  font-size: 13px;
}
