@import '../../styles/common.scss';

.category {
  min-width: 1200px;

  .nav-bar {
    height: 85px;
    background-color: var(--main-yellow);
  }

  .main-image {
    display: flex;
    justify-content: center;

    img {
      width: 67%;
      margin: 20px auto;
    }
  }

  .main-text {
    width: 67%;
    margin: 10px auto 30px;
    text-align: center;
    line-height: 2;

    .category-main-text {
      display: block;
      color: var(--main-gray);
      font-size: 25px;
      font-weight: bold;
    }

    .category-main-desc {
      font-size: 16px;
      font-weight: bold;
      color: var(--main-gray);
    }
  }

  .category-product-contents {
    width: 67%;
    margin: 0 auto;
    line-height: 2;

    .filter {
      display: flex;
      justify-content: flex-start;

      .filter-btn {
        padding: 5px 15px 5px;
        border-radius: 10px;
        margin-right: 10px;
        border: none;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
      }

      .gray-btn {
        color: var(--main-gray);

        &:hover {
          background: var(--main-yellow);
          color: white;
        }
      }

      .yellow-btn {
        background-color: var(--main-yellow);
        color: white;
      }
    }

    .filter-input {
      width: 30%;
      margin: 30px 10px 40px 0;
      padding: 0 10px 5px 10px;
      border: 0;
      border-bottom: 2px solid rgb(133, 133, 133);
      font-size: 1rem;
      text-align: center;
      font-weight: lighter;
    }

    .filter-side-dish-btn {
      background-color: white;
      border: 0;
      color: var(--main-gray);
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: var(--main-yellow);
      }
    }

    .product-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;

      .product {
        margin-bottom: 30px;
        border: lightgray 0.2px solid;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 5px 0px;
        line-height: 1;
        font-size: 14px;
        cursor: pointer;

        .product-image {
          position: relative;

          img {
            width: 100%;
            height: 270px;
          }

          .product-back {
            width: 100%;
            height: 270px;
            position: absolute;
            @include flex-center;
            animation-name: fadein;
            animation-duration: 0.4s;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: black;
            opacity: 0.75;
            color: white;
            font-size: 16px;
            font-weight: bold;
            line-height: 2;
            display: none;

            @keyframes fadein {
              from {
                opacity: 0;
              }
              to {
                opacity: 0.75;
              }
            }

            .product-back-contents {
              display: flex;
              flex-direction: column;
              margin-top: 10px;
              margin-left: 20px;
              font-size: 15px;
              font-weight: bold;

              .product-back-side-dish {
                color: var(--main-yellow);
              }

              .product-back-side-dish-wrap {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;

                .product-back-side-dish-list {
                  margin-top: 10px;
                  display: flex;
                  align-items: center;
                }

                img {
                  width: 50px;
                  height: 50px;
                  margin-right: 10px;
                }
              }

              .product-back-side-dish-list {
                display: flex;
                justify-content: space-around;
              }
            }
          }
        }

        .product-text {
          padding: 5px 13px 0 13px;

          .product-name {
            margin: 15px 0 10px 0;
            color: var(--main-gray);
            font-size: 14px;
            font-weight: bold;
          }

          .product-price {
            color: var(--main-gray);
            font-size: 14px;
            font-weight: bold;
          }

          .product-description {
            margin: 10px 0 35px 0;
            line-height: 1.3;
            color: var(--main-yellow);
            font-size: 13px;
            font-weight: bold;
          }
        }

        &:hover {
          .product-back {
            display: block;
          }
        }
      }

      .product-review {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        color: var(--main-yellow);
        font-weight: bold;

        .product-rate {
          margin-left: 5px;
        }

        .review-rate {
          color: var(--main-yellow);
        }

        .review-number {
          color: var(--main-blue);
        }
      }
    }
  }
}
